<?xml version="1.0"?>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ds="http://deltaspike.apache.org/jsf"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view locale="#{localeSelector.locale}">
        <ui:insert name="metadata" />

        <h:head>    


            <title>#{telveConfigResolver.getProperty('app.title')} - #{ messages[pageTitle] }</title>

            <ui:include src="#{themeManager.templateHeader}" />
            <ui:insert name="extraHead" />
            
            <ui:include src="/branding/applicationExtentions.xhtml" />

        </h:head>

        <h:body styleClass="#{skinSelector.skin}  layout-top-nav fixed">
            
            <ds:windowId />

            <!-- pe:ajaxErrorHandler / -->

            <h:form>
                <ui:fragment rendered="#{'true' eq telveConfigResolver.getProperty('app.stayLoggedIn')}">
                    <p:poll interval="600" update="notifyCount" global="false"/>
                </ui:fragment>
                <p:remoteCommand name="updateNotifies" update="notifyCount"  />
            </h:form>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                <p:commandButton value="#{messages['general.button.No']}" type="button" styleClass="ui-confirmdialog-no pull-right" icon="ui-icon-close" />
                <p:commandButton value="#{messages['general.button.Yes']}" type="button" styleClass="ui-confirmdialog-yes pull-right" icon="ui-icon-check" />
            </p:confirmDialog>

            <ui:remove>
            <ui:include src="/layout/notificationBar.xhtml" />
            </ui:remove>
            
            <ui:insert name="outerspace"></ui:insert>

            <div class="wrapper">

                <ui:include src="#{themeManager.templateMainBar}" />
                <ui:remove>
                <ui:include src="#{themeManager.templateSideBar}" />
                </ui:remove>

                <div class="content-wrapper" style="margin-left: 0px;">
                    <div id="quickpanel" class="quickPanel">
                        <p:outputPanel id="quickPanelContent">
                            <ui:include src="#{quickRecordController.dialogViewId}" />
                        </p:outputPanel>
                    </div>

                    <p:outputPanel id="cmb" layout="block">
                        <ui:fragment rendered="#{showContextMenu ne 'false'}">
                        <section class="context-menu">

                            <nav class="navbar #{skinSelector.skin.contains('light') ? '' : 'navbar-inverse' }  navbar-static-top">
                                <div class="container-fluid">
                                    <div class="navbar-header">

                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                                        
                                        <h:form id="contextForm">
                                            <ul class="nav navbar-nav">

                                                <ui:insert name="context-menu" />

                                                <c:forEach items="#{contextMenuResolver.getContextMenuFragments()}" var="entry">
                                                    <ui:include src="#{entry}" />
                                                </c:forEach>
                                            </ul>
                                        </h:form>

                                        <ul class="nav navbar-nav navbar-right">
                                            <ui:fragment rendered="#{showListBar}">
                                                <li class="hidden-xs">
                                                    <a href="#"  class="content-list-toggle" onclick="jQuery('#content-list-col').toggle();
                                                            jQuery('#content-list-col').toggleClass('col-md-3 col-xs-12 col-md-pull-9');
                                                            jQuery('#content-data-col').toggleClass('col-md-9 col-md-push-3');" ><i class="fa fa-expand" /></a>
                                                </li>
                                            </ui:fragment>

                                            <ui:insert name="context-menu-right" />

                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </section>
                            </ui:fragment>
                        <section class="content-header">
                            <p:messages id="messages" closable="true" globalOnly="true" showDetail="true" >
                                <p:autoUpdate />
                            </p:messages>
                        </section>
                    </p:outputPanel>

                    <p:sticky target="cmb" margin="50"/>
                    <ui:fragment rendered="#{dontShowContentHeader ne true}">
                        <section class="content-header">
                            <ui:fragment rendered="#{viewState ne ''}" >
                                <div class="pull-right">
                                    #{viewState}
                                </div>
                            </ui:fragment>
                            <h1>#{ messages[pageTitleResolver.pageTitle] }  <small>#{ viewIdentifier }</small></h1> 
                        </section>
                    </ui:fragment>
                    <ui:insert name="customHeader" />

                    <section class="content">

                        <div class="row">
                            <div id="content-data-col" class="#{showListBar ? 'col-md-9 col-xs-12 col-md-push-3' : 'col-xs-12' }">
                                <section id="contentSection">
                                    <ui:insert name="body"/>
                                </section>
                            </div>
                            <ui:fragment rendered="#{showListBar}">
                                <div id="content-list-col" class="col-md-3 col-xs-12 col-md-pull-9">
                                    <section id="content-list-bar">
                                        <div class="box">
                                            <div class="box-body">
                                                <ui:insert name="content-list" />
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </ui:fragment>

                        </div>

                    </section>

                    <script type="text/javascript">
                        hideListBar = '${hideListBar}';
                        if (hideListBar == 'true') {
                            jQuery('#content-list-col').toggle();
                            jQuery('#content-list-col').toggleClass('col-md-3 col-xs-12 col-md-pull-9');
                            jQuery('#content-data-col').toggleClass('col-md-9 col-md-push-3');
                        }
                    </script>

                </div>

                <div id="bottom-pos" style="position: fixed; bottom: 0; right: 0;"></div>

                <ui:include src="#{themeManager.templateFooter}" />
                
                
            </div>
        </h:body>

    </f:view>
</html>
