<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"        
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                template="#{themeManager.layoutTemplate}"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:param name="showContextMenu" value="false" />

    <ui:define name="extraHead">
        <h:outputStylesheet library="raf" name="css/raf.css" />
    </ui:define>

    <ui:define name="body">
        <style type="text/css">             
            .ui-outputlabel {
                font-weight: bold;
            }

            .ui-orderlist .ui-orderlist-list {
                height: auto;
            }

        </style>

        <script type="text/javascript">
            window.onbeforeunload = function ()
            {
                clearFunc();
            }

        </script>
        <h:form id="searchForm">
            <p:remoteCommand name="setActiveTab" actionListener="#{detailedSearchController.setActiveTab}"/>
            <p:remoteCommand name="clearFunc" actionListener="#{detailedSearchController.clearSearch()}" />
            <ui:include src="/layout/messages.xhtml" />

            <div class="box box-primary">
                
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <c:forEach items="#{detailedSearchController.searchPanels}" var="searchPanel" >
                            <li class="#{detailedSearchController.activeSearchPanelController.equals(searchPanel) ? 'active' : ''}">
                                <a href="##{searchPanel}" data-toggle="tab" onclick="setActiveTab([{name: 'activeSearchPanelController', value: '#{searchPanel}'}])">#{messages['search.tab.'.concat(searchPanel)]}</a>
                            </li>    
                        </c:forEach>                        
                    </ul>
                    <div class="tab-content">
                        <c:forEach items="#{detailedSearchController.searchPanels}" var="sp">
                            <div class="tab-pane #{detailedSearchController.activeSearchPanelController.equals(sp) ? 'active' : ''}" id="#{sp}">
                                <ui:include src="#{detailedSearchController.getSearchTab(sp)}">
                                </ui:include>
                            </div>
                        </c:forEach>                         
                    </div>
                </div>     
                <div class="ui-fluid">
                    <p:panelGrid columns="2" columnClasses="ui-g-12 ui-md-2,ui-g-12 ui-md-4" layout="grid" styleClass="ui-panelgrid-blank ui-fluid">
                        <p:outputLabel value="#{messages['view.action.SortBy']}"/>
                        <p:selectOneMenu id="searchSortBy" value="#{detailedSearchController.searchModel.sortBy}" required="false" filter="true" filterMatchMode="startsWith">
                            <f:selectItem itemLabel="#{messages['general.select']}" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItem itemLabel="#{messages['sortBy.Path']}" itemValue="path" />
                            <f:selectItem itemLabel="#{messages['sortBy.Name']}" itemValue="title" />
                            <f:selectItem itemLabel="#{messages['collection.table.User']}" itemValue="createBy" />
                            <f:selectItem itemLabel="#{messages['collection.table.Date']}" itemValue="created" />
                            <f:selectItem itemLabel="#{messages['collection.table.UpdateUser']}" itemValue="lastModifiedBy" />
                            <f:selectItem itemLabel="#{messages['collection.table.UpdateDate']}" itemValue="lastModified" />
                            <f:selectItems value="#{detailedSearchController.extendedColumnMap.entrySet().toArray()}" var="_entryset" itemLabel="#{messages[_entryset.value]}" itemValue="#{_entryset.key}">
                            </f:selectItems>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{messages['view.action.SortType']}"/>
                        <p:selectOneMenu value="#{detailedSearchController.searchModel.sortOrder}" required="false">
                            <f:selectItem itemLabel="A-Z" itemValue="ASC" />
                            <f:selectItem itemLabel="Z-A" itemValue="DESC" />
                        </p:selectOneMenu>
                    </p:panelGrid>
                </div>
                
                
                <p:toolbar>
                    <f:facet name="left">
                        <p:commandButton icon="fa fa-search" value="#{messages['general.label.Search']}" id="search" update="resultDataTable" action="#{detailedSearchController.search()}" style="margin-right:20px;" styleClass="btn btn-primary" />
                        <p:commandButton icon="fa fa-remove" value="#{messages['general.label.Clear']}" id="clear" update="searchForm" action="#{detailedSearchController.clearSearch()}" style="margin-right:20px;" styleClass="btn" />
                    </f:facet>
                </p:toolbar>
            </div>

            <div class="box box-primary">
                <p:dataTable id="resultDataTable" 
                             widgetVar="resultDataTable" var="rafObject" value="#{detailedSearchController.searchResult}" emptyMessage="Kayıt yok."
                             paginator="true" rows="20"
                             paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                             rowsPerPageTemplate="5,10,20,50,100,200,500" lazy="true" scrollable="true" scrollWidth="100%">

                    <p:column headerText="Dosya Yolu" width="200">>
                        <h:outputText value="#{rafObject.path}" />
                    </p:column>

                    <p:column headerText="#{messages['collection.table.File']}" width="200">
                        <ui:fragment rendered="#{rafObject.class.simpleName eq 'RafDocument'}">
                            <p:commandLink action="#{rafDocumentViewDialog.openDialog(rafObject)}" process="@this">
                                #{rafObject.title}
                            </p:commandLink>
                        </ui:fragment>
                        <ui:fragment rendered="#{rafObject.class.simpleName eq 'RafRecord'}">
                            <p:commandLink action="#{rafRecordViewDialog.openDialog(rafObject)}" process="@this">
                                #{rafObject.title}
                            </p:commandLink>
                        </ui:fragment>
                        <ui:remove>
                            <a href="#{detailedSearchController.getFileLink(rafObject)}" target="_blank">
                                <h:outputText value="#{rafObject.name}"/>
                            </a>
                        </ui:remove>
                    </p:column>

                    <p:column headerText="#{messages['collection.table.User']}" width="150">
                        <h:outputText value="#{rafObject.createBy}" />
                    </p:column>

                    <p:column headerText="#{messages['collection.table.Date']}" width="150">
                        <h:outputText value="#{rafObject.createDate}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </p:column>


                    <p:column headerText="#{messages['collection.table.UpdateUser']}" width="150">
                        <h:outputText value="#{rafObject.updateBy}" />
                    </p:column>

                    <p:column headerText="#{messages['collection.table.UpdateDate']}" width="150">
                        <h:outputText value="#{rafObject.updateDate}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy HH:mm:ss"/>
                        </h:outputText>
                    </p:column>


                    <c:forEach items="#{detailedSearchController.extendedColumnMap.entrySet().toArray()}" var="_entryset">
                        <p:column headerText="#{messages[_entryset.value]}" width="150">
                            <h:outputText value="#{detailedSearchController.getMetaDataValue(rafObject, _entryset.key)}" />
                        </p:column>
                    </c:forEach>
                </p:dataTable>
            </div>         
        </h:form>
    </ui:define>

</ui:composition>
