.raf-header-container{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-start;
    padding: 4px 8px 0px 8px;

}

.raf-header{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

}
.raf-header-texts{
    display: flex;
    flex-wrap:wrap;
    flex-direction:column;
    justify-content:space-between;
    align-items: flex-start;

}

.raf-header-tools{
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-end;
}

.raf-header-tool-pack{
    flex: 1;
    flex-basis: 100%;
    padding: 0px 4px 0px 4px;
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content:flex-end;
}

.raf-header-btns{
    /*flex: 0;*/
    padding: 0px 0px 0px 16px;
}

.content{
    padding: 0px 8px 8px 8px !important;
}
.raf-tools{
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-between;
    align-items:stretch;
    margin: 4px;
}

.raf-tools-pack{
    padding: 0px 4px 0px 4px;
    align-self: flex-start;
    flex: 1;
    border: 1px solid silver;

}

.raf-tools-pack-right{
    flex-direction:row;
    display: flex;
    border: 1px solid silver;
}

.raf-tools-pack-left{
    display: flex;
    flex-direction:row;
    border: 1px solid silver;
}

.raf {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
}


.raf-box {
    border: 1px solid silver; 
    background: white; 
    margin: 2px;
    display: flex;
    flex-direction: column;
}
.raf-box-header{ padding: 4px; border-bottom: 1px solid silver; background: #efefef;}
.raf-box-content{ flex: 1; overflow-x: auto; overflow-y: auto;}
.raf-box-footer{ padding: 4px; border-top: 1px solid silver; background: #efefef; align-self: flex-end; width: 100%}

.left {order:1; flex-basis:100%; flex: 1; min-width: 200px; }
.middle {order:2; flex-basis:100%; flex: 3;  min-width: 200px;}
.right {order:3; flex-basis:100%; flex: 2;  min-width: 200px;}


.raf-item-list{
    list-style: none;
    margin: 4px;
    padding: 0px;
    display: grid;
    grid-gap: 2px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill,minmax(100px, 1fr));
}

.raf-item{
    /*border: 1px solid silver;*/
    padding: 2px;
    text-align: center;
    color: #555;
}

.raf-selected{
    border: 1px solid cornflowerblue;
    background-color: lightcyan; 
}

.raf-item-row-list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.raf-item-row-list .raf-item{
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: stretch;
    margin-left: -4px;
    margin-right: -4px;
    padding-left : 4px;
}

.raf-item-row-list .raf-item-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: -4px;
    margin-right: -4px;
    padding-left : 4px; 
}

.raf-item-row-list .raf-item-name{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left : 4px; 
}

.raf-item-row-list .raf-item:last-of-type{
    border-bottom: 0px;
}

.page-header{
    margin-bottom: 10px;
}

.raf-item .raf-item-tools a{
    display: none;
}

.raf-item:hover .raf-item-tools a{
    display: inline-block;
}

.btn-box-tool{
    padding: 2px;
}


.raf-container{
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: flex-start;
    /*align-items: stretch;*/
    /*justify-items: stretch;*/
    justify-content: flex-start;

}

.raf-container-item-group{
    flex: 1 0 0;
    /*page-break-before: always;*/
    /*
    align-content: stretch;
    align-self: stretch;
    justify-content: center;
    */
    border-right: 1px solid silver;
}

.raf-container-item-group-item{

    display: inline-flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    /*
    align-content: flex-start;
    align-items: stretch;
    justify-items: stretch;
    justify-content: stretch;
    */
}

.raf-container-item-group-header{
    flex: 1 0 0;
    padding-bottom: 4px; 
    padding-left: 4px;
    color: silver;
}

.raf-container-item{
    flex: 1 0 0;
    /*border-right: 1px silver solid;*/
    padding: 2px;
    min-width: 220px;
}

.raf-container-item-item{
    display: grid;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: start;
}

.small-icon{
    grid-template-columns: 16px auto;
}

.medium-icon{
    grid-template-columns: 36px auto;
}

.large-icon{
    grid-template-columns: 68px auto;
}

.thumbnail-icon{
    grid-template-columns: 310px auto;
}

.raf-container-item-item-img{
    grid-column-start: 1;
    grid-row-start: 1;

}
.raf-container-item-item-gallery-thumbnail{
    width: 300px;
    height: 300px;
    vertical-align: bottom;
}
.raf-container-item-item-cnd{
    grid-column-start: 2;
    grid-row-start: 1;
    padding-left: 8px;
}

.raf-container-item-item-gallery-cnd{
  grid-column-start: 1;
  grid-row-start: 2;
}

.raf-container-item-item-chk {
    color: #777 !important;
    border-radius: 2px;
    text-align: center;
}

.raf-container-item-item-chk > a{
    color: #777;
}

.raf-container-item-item-chk:hover {
    background-color: #EFF3F6;
}

.raf-container-item-item-chk > a:hover{
    color: #111111;
}

.raf-item-selected{
    background-color: #EFF3F6;
    /* background-color: #3c8dbc !important;
     color: #fff !important;
    */
    /* font: normal normal normal 14px/1 FontAwesome !important; */
}

.raf-item-selected > a {
    color: #111111;
}

.raf-item-select-icon {
    z-index: 35;
    position: relative;
    top: 0px;
    left: -10px;
    display: inline-blockblock;
    width: 0px;
    height: 0px;
    /*float: right;*/
}

/*
.raf-item-selected > a:before{
    content: "\f096";
    font: normal normal normal 14px/1 FontAwesome !important;
}
*/

.raf-item-selected > a{
    /*  background-color: #3c8dbc !important;*/
    /*color: #d2d6de !important; */

}

.raf-item-selected > a:hover{
    /*   background-color: #3c8dbc !important;*/

}

.content-view-port{
    overflow: auto;
}

.raf-file{

}

.margin-left-5 {
    margin-left: 5rem;
}

.raf-file-meta{
    height: 600px !important;
    overflow: auto !important;
}
