<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"     
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                template="/layout/dashletBase.xhtml">

    <ui:param name="name" value="myRafsDashlet" />
    <ui:param name="bean" value="#{myRafsDashlet}" />

    <ui:define name="edit">
        <t:inputText label="general.label.Filter" value="#{myRafsDashlet.filter}" columnClass="col-xs-12"/>
        <t:inputCheckbox label="general.label.SortOrder" itemLabel="general.sort.Asc" value="#{myRafsDashlet.sortAsc}" columnClass="col-xs-6"/>
    </ui:define>

    <ui:define name="view">
        <p:outputPanel deferred="true">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <p:dataList value="#{myRafsDashlet.lazyRafs}" var="raf" lazy="true" type="unordered" itemType="none"
                                paginator="true" rows="#{myRafsDashlet.size}" rowsPerPageTemplate="5,10,20,25,30,50" pageLinks="5" paginatorPosition="bottom"
                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                        <li >
                            <h:link  outcome="/raf.xhtml" title="#{raf.code}">
                                <i class="fa fa-archive"></i>
                                <f:param name="id" value="#{raf.code}" />
                                #{messages[raf.name]}
                            </h:link>
                        </li>
                    </p:dataList>
                </ul>
            </div>
        </p:outputPanel>
    </ui:define>
</ui:composition>
