<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:fragment rendered="#{folderBreadcrumbController.showBreadcrumb}">
        <div style="border-bottom: 1px solid silver; background-color: #f5f5f5;">
            <div style="display: inline-block">
                <ui:fragment rendered="#{currentFolderEnabled ne 'true'}">
                    <p:commandLink action="#{rafSelectionController.toggleSelectAll()}" 
                                   update="raf-view-content" ajax="true" process="@this" 
                                   styleClass="btn btn-box-tool" style="padding-left: 6px;">
                        <i class="fa #{rafSelectionController.allSelected ? 'fa-check-square' : 'fa-square-o'}" />
                    </p:commandLink>
                </ui:fragment>
            </div>

            <div class="pull-right" style="display: inline-block">
                <ui:fragment rendered="#{forCollection ne 'true'}">
                    <p:commandLink action="#{rafController.closeObjectPanel()}" update="raf-view-content" ajax="true" process="@this" 
                                   styleClass="btn btn-box-tool" style="padding-right: 6px;">
                        <i class="fa fa-close" />
                    </p:commandLink>
                </ui:fragment>
            </div>

            <ui:fragment rendered="#{ forCollection eq 'true' and rafContext.collection.mimeType eq 'raf/folder'}">
                <ul class="breadcrumb text-muted text-sm" style="display: inline-block;  margin: 0px; border-radius: 0px; padding: 0px;">
                    <li></li>
                    <ui:remove>
                        Bir üst klasör'e kıs yol çok anlamlı değil.
                        <ui:fragment rendered="#{folderBreadcrumbController.parentFolder ne null}" >
                            <li>
                                <p:commandLink action="#{rafController.selectItem(folderBreadcrumbController.parentFolder)}" update="raf-view-content" ajax="true" process="@this">
                                    <i class="fa fa-level-up" />
                                </p:commandLink>
                            </li>
                        </ui:fragment>
                    </ui:remove>

                    <ui:repeat value="#{folderBreadcrumbController.breadcrumbItems}" var="item">
                        <li>
                            <p:commandLink action="#{rafController.selectItem(item)}" update="raf-view-content" ajax="true" process="@this">
                                #{item.title}
                            </p:commandLink>
                        </li>

                    </ui:repeat>

                    <li>
                        <p:commandLink action="#{rafController.selectItem(folderBreadcrumbController.currentFolder)}" update="raf-view-content" ajax="true" process="@this" disabled="#{currentFolderEnabled ne 'true'}">
                            #{folderBreadcrumbController.currentFolder.title}
                        </p:commandLink>
                    </li>
                </ul>
                <div class="pull-right" style="margin-right:4px; margin-top:1.2px;">
                    <span class="text-sm ui-state-disabled">
                            <input type="hidden" id="showingFileCount" value="#{rafContext.collection.items.size()}" />
                            #{messages['breadcrumb.total.number.of.files']} <label id="totalFileCount">#{rafController.totalFileCount}</label>
                    </span>
                </div>
            </ui:fragment>
            
            
            <ui:fragment rendered="#{ forCollection ne 'true' }">
                <ul class="breadcrumb text-muted text-sm" style="display: inline-block;  margin: 0px; border-radius: 0px; padding: 0px;">
                    <li></li>
                    <ui:repeat value="#{objectBreadcrumbController.breadcrumbItems}" var="item">
                        <li>
                            <p:commandLink action="#{rafController.selectItem(item)}" update="raf-view-content" ajax="true" process="@this">
                                #{item.title}
                            </p:commandLink>
                        </li>

                    </ui:repeat>

                    <li>
                        <p:commandLink action="#{rafController.selectItem(objectBreadcrumbController.currentFolder)}" update="raf-view-content" ajax="true" process="@this" >
                            #{objectBreadcrumbController.currentFolder.title}
                        </p:commandLink>
                    </li>
                </ul>
            </ui:fragment>

        </div>
    </ui:fragment>

</ui:composition>

