<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:xlink="http://www.w3.org/1999/xlink">

    <ui:fragment rendered="#{viewBean.supportBreadcrumb}" >
        <ui:include src="/fragments/breadcrumb.xhtml" >
            <ui:param name="forCollection" value="true" />
        </ui:include>
    </ui:fragment>
    <script type="text/javascript">
        function containerScroll(event) {
            var s = event.target;
            if (s.scrollTop === 0) {
                return;
            }
            $("#collectionForm\\:scrollTop").val(s.scrollTop);
            setScroll();
            //scroll'da sona yaklastiginde nextPage() calistirsin. Eger daha fazla dosya tekrar tekrar cagirmak anlamsiz
            if ((s.clientHeight + 5) >= (s.scrollHeight - s.scrollTop) &amp;&amp; $("#totalFileCount").text() > $("#showingFileCount").val()) {
                nextPage();
            }
        }

        function scrollToBottom() {
            var ctr = $("#raf-container")[0];
            var sh = ctr.scrollHeight - ctr.clientHeight;
            var newst = sh / 1.1;
            $("#raf-container").scrollTop(newst);
        }

        $(document).ready(function () {
            $(".raf-box-content").on('scroll', containerScroll);
            $(".raf-container").on('scroll', containerScroll);
            $(".raf-box-content").scrollTop($("#collectionForm\\:scrollTop").val());
            $(".raf-container").scrollTop($("#collectionForm\\:scrollTop").val());
        });
    </script>

    <h:form id="collectionForm">
        <div id="raf-container" class="raf-container" style="overflow-y: auto; overflow-x: auto;">
            <table class="table table-striped"  >
                <tbody style="font-size: 12px;">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('NAME', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.Title']}
                            </p:commandLink>
                        </th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('MIMETYPE', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.File']}
                            </p:commandLink>
                        </th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('USER', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.User']}
                            </p:commandLink>
                        </th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('SIZE', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.Size']}
                            </p:commandLink>
                        </th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('DATE_ASC', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.Date']}
                            </p:commandLink>
                        </th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('USER', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.UpdateUser']}
                            </p:commandLink>
                        </th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('MODIFY_DATE_ASC', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.UpdateDate']}
                            </p:commandLink>
                        </th>
                        <th>#{messages['collection.table.Info']}</th>
                        <th>
                            <p:commandLink action="#{controllerBean.setSortByAndType('CATEGORY', !controllerBean.descSort)}" process="@this" update="raf-view-content">
                                #{messages['collection.table.Category']}
                            </p:commandLink>
                        </th>
                        <th></th>
                    </tr>
                    <p:repeat value="#{viewBean.collection.items}" var="item">
                        <ui:param name="hasWriteRole" value="#{rafController.hasWriteRole(item)}" />
                        <ui:param name="hasDeleteRole" value="#{rafController.hasDeleteRole(item)}" />
                        <tr>
                            <td style="width: 16px; text-align: center; ">
                                <p:commandLink action="#{rafSelectionController.toggle(item)}" update="raf-view-content" ajax="true" process="@this" styleClass="btn btn-box-tool" style="margin-right: 4px;">
                                    <i class="fa #{rafSelectionController.isSelected(item) ? 'fa-check-square' : 'fa-square-o'}" />
                                </p:commandLink>
                            </td>
                            <td style="width: 16px; text-align: center;">
                                <svg class="icon" >
                                    <use xlink:href="#{resource['icons:mimetypes.svg']}##{iconResolver.getIcon(item.mimeType)}" />
                                </svg>
                            </td>
                            <td>
                                <p:commandLink action="#{rafController.selectItem(item)}" update="raf-view-content" ajax="true" process="@this" styleClass="text-sm">
                                    <span class="text-sm">#{item.title}</span> 
                                </p:commandLink>
                            </td>
                            <td>
                                #{item.name}
                            </td>
                            <td>
                                #{userLookup.getUserName(item.createBy)}
                            </td>
                            <td>
                                <ui:fragment rendered="#{item.length gt 0}">
                                    #{rafController.byteCountToDisplaySize(item.length)}
                                </ui:fragment>                                
                            </td>
                            <td>
                                <t:cellOutputDateTime value="#{item.createDate}"/>
                            </td>
                            <td>
                                #{userLookup.getUserName(item.updateBy)}
                            </td>
                            <td>
                                <t:cellOutputDateTime value="#{item.updateDate}"/>
                            </td>
                            <td>
                                #{item.info}
                            </td>
                            <td>
                                #{item.category}
                            </td>
                            <td style="text-align: right; vertical-align: middle">
                                <ui:fragment rendered="#{item.mimeType ne 'raf/folder'}">
                                    <!--                                            <h:form id="colTViewDownloadFileForm" style="display: inline;">-->
                                    <p:commandLink action="#{downloadAction.downloadFile(item)}" update="raf-view" ajax="false" process="@this" styleClass="btn btn-box-tool">
                                        <i class="fa fa-download" />
                                    </p:commandLink>
                                    <!--</h:form>-->
                                    <p:commandLink rendered="#{hasWriteRole}" action="#{rafController.selectItem(item)}" update="raf-view" ajax="true" process="@this" styleClass="btn btn-box-tool">
                                        <i class="fa fa-edit" />
                                    </p:commandLink>
                                    <p:commandLink rendered="#{hasDeleteRole}" action="#{deleteAction.deleteObject(item)}" process="@this" ajax="true" update="raf-view" title="#{messages[deleteAction.title]}" styleClass="btn btn-box-tool">
                                        <i class="fa fa-trash" />
                                        <p:confirm header="#{messages['confirmation.header.DeleteAction']}" message="#{messages['confirmation.message.DeleteAction']}" icon="fa fa-alert" />
                                    </p:commandLink>

                                    <p:commandLink action="#{zipExtractAction.extractZipFile(item)}" process="@this" ajax="true" update="raf-view" title="#{messages[zipExtractAction.title]}" styleClass="btn btn-box-tool">
                                        <i class="fa fa-file-zip-o" />
                                        <p:confirm header="#{messages['confirmation.header.ExtractAction']}" message="#{messages['confirmation.message.ExtractAction']}" icon="fa fa-alert" />
                                    </p:commandLink>

                                </ui:fragment>

                                <ui:fragment rendered="#{item.mimeType eq 'raf/folder'}">
                                    <p:commandLink rendered="#{hasWriteRole}" action="#{rafController.selectFolderItem(item)}" update="raf-view" ajax="true" process="@this" styleClass="btn btn-box-tool">
                                        <i class="fa fa-edit" />
                                    </p:commandLink>

                                    <p:commandLink rendered="#{hasDeleteRole}" action="#{deleteAction.deleteObject(item)}" process="@this" ajax="true" update="raf-view" title="#{deleteAction.title}" styleClass="btn btn-box-tool">
                                        <i class="fa fa-trash" />
                                        <p:confirm header="#{messages['confirmation.header.DeleteAction']}" message="#{messages['confirmation.message.DeleteAction']}" icon="fa fa-alert" />
                                    </p:commandLink>
                                </ui:fragment>
                            </td>
                        </tr>
                    </p:repeat>
                </tbody>
            </table>
        </div>

        <p:remoteCommand name="nextPage" update="raf-view" action="#{viewBean.nextPage()}" oncomplete="scrollToBottom()" />
        <p:remoteCommand name="setScroll" action="#{rafController.setScroll}" />
        <h:inputHidden id="scrollTop" value="#{rafController.scrollTop}" />
    </h:form>        
</ui:composition>

