<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:remove>
        <!-- File View -->
    </ui:remove>

    <ui:fragment rendered="#{viewBean.supportBreadcrumb}" >
        <ui:include src="/fragments/breadcrumb.xhtml" >
            <ui:param name="currentFolderEnabled" value="true" />
        </ui:include>
    </ui:fragment>

    <div class="raf-file">


        <div class="col-md-8 col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">#{viewBean.object.title} <span class="label #{viewBean.object.checkedout ? 'label-warning' : 'label-default' } text-sm pull-right">#{viewBean.object.version}</span>
                        <span class="text-muted text-sm">#{viewBean.object.name}</span>
                        <ui:remove>
                            <p:commandButton styleClass="btn btn-primary margin-left-5" value="#{messages['raf.button.label.ReGeneratePreview']}" action="#{viewBean.reGeneratePreview()}" process="@this" update="raf-view-content"/>
                        </ui:remove>
                    </h2>
                    <ui:fragment rendered="#{viewBean.object.info ne ''}">
                        <div>#{viewBean.object.info}</div>
                    </ui:fragment>

                    <span class="text-muted text-sm">
                        #{userLookup.getUserName(viewBean.object.updateBy)} | 
                        <t:cellOutputDateTime value="#{viewBean.object.updateDate}" />
                        | <a href="/dolap/raf.jsf?id=#{rafContext.selectedRaf.code}&amp;o=#{viewBean.object.id}" class="text-sm"><i class="fa fa-link" title="permalink"/></a>
                    </span>


                    <ui:remove>
                        <ui:repeat value="#{documentViewPanel.additonalMetadatas}" var="mt">
                            <p:commandLink action="#{documentViewPanel.addMetadata(mt)}" process="@this">
                                <i class="fa fa-cog" /> #{mt}
                            </p:commandLink>
                        </ui:repeat>
                    </ui:remove>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" >

                    <div >
                        <ui:include src="#{viewBean.previewWidget}" >
                            <ui:param name="rafObject" value="#{viewBean.object}" />
                        </ui:include>
                    </div>
                </div>

                <ui:remove>
                    <t:accordion icon="fa fa-comments" label="general.label.Comments" columnClass="col-xs-12">

                        <div class="col-xs-12">
                            Yorumlar da buraya.
                        </div>

                        <div class="col-xs-12">
                            Yorumlar da buraya.
                        </div>

                        <div class="col-xs-12">
                            Yorumlar da buraya.
                        </div>


                    </t:accordion>
                </ui:remove>

            </div>
        </div>
        <div class="raf-file-meta col-md-4 col-xs-12">
            <ui:fragment rendered="#{viewBean.hasRafWritePermission and viewBean.versionManagementEnabled}">
                <h:form id="checkoutform">
                    <div class="row">
                        <div class="col-xs-12">
                            <p:commandLink rendered="#{not viewBean.rafCheckStatus}" action="#{viewBean.checkin()}" process="@this" styleClass="btn" title="#{messages['action.title.UploadNewVersion']}" update="raf-view-content">
                                <i class="fa fa-upload" /> #{messages['action.title.UploadNewVersion']}
                                <p:ajax event="dialogReturn" update="raf-view-content" />
                            </p:commandLink>

                            <ui:remove>
                                <p:commandLink action="#{viewBean.checkin()}" process="@this" styleClass="btn" title="Sürüm İçin Dışarı çıkar">
                                    <i class="fa fa-sign-out" />
                                </p:commandLink>
                            </ui:remove>

                        </div>
                    </div>
                </h:form>
            </ui:fragment>

            <ui:fragment rendered="#{viewBean.isHaveReaderPage()}">
                <div class="row">
                    <div class="col-xs-12">
                        <h:link styleClass="btn" outcome="#{viewBean.readerPage}" includeViewParams="true"
                                title="#{messages['action.title.Read']}">
                            <i class="fa fa-window-maximize"></i>
                            <f:param name="id" value="#{viewBean.object.id}"/>
                            #{messages['action.title.Read']}
                        </h:link>
                    </div>
                </div>
            </ui:fragment>

            <h:form id="downloadform">
                <div class="row">
                    <div class="col-xs-12">
                        <p:commandLink action="#{viewBean.downloadFile()}" process="@this" styleClass="btn" title="#{messages['action.title.Download']}" ajax="false">
                            <i class="fa fa-download" /> #{messages['action.title.Download']}
                        </p:commandLink>
                    </div>
                </div>            
            </h:form>

            <div class="row">

                <c:forEach items="#{viewBean.metadataPanels}" var="mp" varStatus="loop">
                    <ui:include src="#{mp.viewId}" >
                        <ui:param name="idp" value="#{loop}" />
                        <ui:param name="mpbean" value="#{mp}" />
                    </ui:include>
                </c:forEach>
            </div>

            <ui:fragment rendered="#{viewBean.rafCheckStatus}">
                <h:form id="checkinform">
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="fa fa-lock" /><strong>#{messages['document.view.locked']}</strong><br/>
                            Kilitleyen Kullanıcı : <p:outputLabel value="#{viewBean.rafCheckerUser}"/><br/>                                
                            <p:commandLink rendered="#{viewBean.canRafCheckIn}" action="#{viewBean.unlockFile()}" process="@this" styleClass="btn" update="raf-view-content">
                                <i class="fa fa-unlock" />
                                #{messages['document.view.unlock']}
                            </p:commandLink>
                        </div>
                    </div>                    
                </h:form>
            </ui:fragment>

            <ui:fragment rendered="#{viewBean.hasRafWritePermission and not viewBean.rafCheckStatus}">

                <div class="row">
                    <div class="col-xs-12">
                        <p:commandLink action="#{viewBean.lockFile()}" process="@this" styleClass="btn" update="raf-view-content">
                            <i class="fa fa-lock" />
                            #{messages['document.view.lock']}
                        </p:commandLink>
                    </div>
                </div>                    

            </ui:fragment>

            <ui:fragment rendered="#{not viewBean.rafCheckStatus and not empty viewBean.versionHistory}">
                <h:form id="hist">
                    <div class="row">
                        <t:accordion label="raf.label.Versions" columnClass="col-xs-12" contentClass="">
                            <ul class="nav nav-pills nav-stacked">
                                <p:repeat value="#{viewBean.versionHistory}" var="vh" >
                                    <ui:fragment rendered="#{vh.name ne 'jcr:rootVersion'}" >
                                        <li>
                                            <p:panelGrid columns="2" layout="grid" style="vertical-align: text-top;" columnClasses="ui-lg-1,ui-lg-11">
                                                <p:commandLink action="#{viewBean.revertVersion(vh.name, vh.comment)}" update="raf-view">
                                                    <i class="fa fa-history" title="#{messages['raf.label.BackToVersion']}" />
                                                    <p:confirm header="#{messages['raf.label.confirm']}" message="#{messages['raf.confirm.BackToVersion']}" icon="pi pi-exclamation-triangle"/>
                                                </p:commandLink>
                                                <p:commandLink action="#{viewBean.downloadHistoryContent(vh.name)}" ajax="false">
                                                    <span class="text-bold">
                                                        #{vh.name}
                                                    </span> 
                                                    <span>
                                                        <t:cellOutputDateTime value="#{vh.created}" /> 
                                                        #{userLookup.getUserName(vh.createdBy)} 
                                                    </span>
                                                    <ui:fragment rendered="#{not empty vh.comment}">
                                                        <hr/>
                                                        <span class="text-muted">
                                                            #{vh.comment}
                                                        </span>
                                                    </ui:fragment>
                                                </p:commandLink>
                                            </p:panelGrid>
                                        </li>
                                    </ui:fragment>
                                </p:repeat>
                            </ul>
                        </t:accordion>
                    </div>
                </h:form>
            </ui:fragment>
        </div>


    </div>
</ui:composition>
