<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                template="/layout/treeParamEdit.xhtml">

    <ui:param name="homeBean" value="#{rafDepartmentHome}" />
    <ui:param name="homeBeanName" value="rafDepartmentHome" />
    <ui:param name="entityName" value="rafDepartment" />
    <ui:param name="itemCaption" value="name" />

    <ui:define name="form">
        <div class="row">
            <t:inputText label="general.label.Name" value="#{rafDepartmentHome.entity.name}" required="true"/>
        </div>
        <div class="row">     
            <t:inputTextarea label="general.label.Info" maxlength="255" value="#{rafDepartmentHome.entity.info}" />
            <t:inputCheckboxGroup label="general.label.Status">
                <p:selectBooleanCheckbox value="#{rafDepartmentHome.entity.active}" itemLabel="#{messages['general.label.Active']}" />
            </t:inputCheckboxGroup>
        </div>

        <div class="row">     
            <div class="col-xs-12">
                <p:dataTable id="members" value="#{rafDepartmentHome.entity.members}" var="member" rowIndexVar="rowIx"
                             emptyMessage="#{messages['general.message.browse.EmptyDesc']}">
                    <p:column headerText="#{messages['general.label.Member']}">
                        <h:outputText value="#{userLookup.getUserName(member.memberName)}" />
                    </p:column>
                    <p:column headerText="#{messages['general.label.Role']}">
                        <h:outputText value="#{member.role}" />
                    </p:column>
                    <p:column styleClass="actionColumn">
                        <f:facet name="header">
                            <p:commandLink action="#{rafDepartmentHome.addNewMember()}" style="text-decoration:none;padding:4px;"
                                           partialSubmit="true" process="@this" styleClass="fa fa-plus-circle btn-add"
                                           title="#{messages['general.label.Add']}"
                                           update=":depmemd" 
                                           oncomplete="PF('depmemd').show();">
                                
                            </p:commandLink>
                        </f:facet>
                        <p:commandLink action="#{rafDepartmentHome.editMember(rowIx)}" 
                                       update=":depmemd" 
                                       title="#{messages['general.label.EditLine']}"
                                       partialSubmit="true" process="@this"
                                       oncomplete="PF('depmemd').show();">
                            <i class="fa fa-pencil btn-edit" ></i>
                        </p:commandLink>
                        <p:commandLink action="#{rafDepartmentHome.removeMember( rowIx )}" 
                                       update="members" 
                                       title="#{messages['general.label.DeleteLine']}"
                                       partialSubmit="true" process="@this">
                            <i class="fa fa-trash-o btn-delete" ></i>
                            <p:confirm header="#{messages['general.caption.Confirm']}" message="#{messages['general.message.confirm.Delete']}" icon="ui-icon-alert" />
                        </p:commandLink>
                    </p:column>
                </p:dataTable>
            </div>
        </div>

        
        
    </ui:define>

    <ui:define name="includes">
        <p:dialog id="depmemd" widgetVar="depmemd" header="Üye Ekle">
            <h:form id="dfrm">
            <div class="row">
                <t:inputUser label="Kullanıcı" value="#{rafDepartmentHome.selectedMember.memberName}" columnClass="col-xs-12" required="true"/>
                <t:inputSuggestion label="Rol" value="#{rafDepartmentHome.selectedMember.role}" 
                       group="OrganizationRole" 
                       listener=""
                       columnClass="col-xs-12" 
                       required="true" />
                
            </div>
            <div class="actionButtons">
                    <p:commandButton id="saveMember"
                                     value="#{messages['general.button.Save']}" accesskey="s"
                                     action="#{rafDepartmentHome.saveMember()}"
                                     oncomplete="if (args &amp;&amp; !args.validationFailed){ PF('depmemd').hide();}"                                     
                                     update=":form:members"
                                     icon="fa fa-save" 
                                     validateClient="true"
                                     styleClass="btn-primary"
                                     />

                    <p:commandButton id="doneMember"
                                     value="#{messages['general.button.Close']}"
                                     onclick="PF('depmemd').hide();"
                                     icon="ui-icon-close"	
                                     process="@this"
                                     ajax="true"/>

                </div>
                </h:form>
        </p:dialog>
    </ui:define>
    
    <ui:define name="context-menu">
        <li>
            <p:commandLink action="#{homeBean.newRafDepartment()}" 
                           update=":form:nodeEditor"
                           partialSubmit="true" process="@this">
                <i class="fa fa-sitemap"></i>
                <h:outputText value=" #{messages['general.button.New']}" />
            </p:commandLink>
        </li>
        <li>
            <p:commandLink action="#{homeBean.newRootRafDepartment()}" 
                           styleClass="context-command" 
                           update=":form:nodeEditor"
                           partialSubmit="true" process="@this">
                <i class="fa fa-sitemap"></i>
                <h:outputText value=" #{messages['general.button.NewRoot']}" />
            </p:commandLink>
        </li>
    </ui:define>


</ui:composition>