<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:t="http://java.sun.com/jsf/composite/telveComponents"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/browseBase.xhtml">

    <ui:param name="moduleCaption" value="module.caption.RafDefinition" />
    <ui:param name="bean" value="#{rafDefinitionBrowse}" />
    <ui:param name="advanceEnabled" value="true" />
    <ui:param name="saveEnabled" value="true" />
    <ui:param name="filterEnabled" value="true" />
    <ui:param name="showQuickSearch" value="true" />
    <ui:param name="permission" value="rafDefinitionAdmin" />
    <ui:param name="onSelectUpdate" value="" />
    <ui:param name="onSelectEnabled" value="#editRafDefinition, #deleteRafDefinition" />
    <ui:param name="showDetailPanel" value="true" />

    <ui:define name="ribbon-actions">

        <script type="text/javascript">
            jQuery(document).ready(function () {

                jQuery('#newRafDefinition').click(function () {
                    if (this.isEnabled()) {
                        newRafDefinition();

                    }
                });
                jQuery('#editRafDefinition').click(function () {
                    if (this.isEnabled()) {
                        editRafDefinition();
                    }
                });
                jQuery('#deleteRafDefinition').click(function () {
                    if (this.isEnabled()) {
                        deleteRafDefinition();
                    }
                });
            });
        </script> 

        <h:form id="actionForm">
            <ui:remove>
                <p:remoteCommand name="newRafDefinition" update=":suggestionPopup" actionListener="#{suggestionBrowse.newRafDefinition}" oncomplete="PF('suggestionPopup').show();"/>
                <p:remoteCommand name="editRafDefinition" update=":suggestionPopup" actionListener="#{suggestionBrowse.editRafDefinition}" oncomplete="PF('suggestionPopup').show();"/>
            </ui:remove>
            <p:remoteCommand name="deleteRafDefinition" update=":browseListForm:results" actionListener="#{suggestionBrowse.deleteRaf}" />
        </h:form>

    </ui:define>


    <ui:define name="includes">

        <p:dialog id="deleteObjDlg" widgetVar="deleteObjDlg" header="#{messages['raf.label.DeleteObjectDialog']}" modal="true">
            <h:form id="odd">
                <div class="row">
                    <t:inputText value="#{rafDefinitionBrowse.objectId}" label="raf.label.ObjectId" columnClass="col-xs-12"/>
                </div>
                <div class="row">
                    <div class="actionButtons">
                        <p:commandButton action="#{rafDefinitionBrowse.deleteObject(rafDefinitionBrowse.objectId)}" value="#{messages['general.button.Delete']}" />
                    </div> 
                </div>
            </h:form>
        </p:dialog>

    </ui:define>

    <ui:define name="context-menu">
        <ui:remove>
            <li>
                <p:commandLink id="newRafDefinition" update=":suggestionPopup" actionListener="#{suggestionBrowse.newRafDefinition}" oncomplete="PF('suggestionPopup').show();" >
                    <i class="fa fa-plus-circle"/>
                    <span>#{messages['general.button.New']}</span>
                </p:commandLink>
            </li>
            <li>
                <p:commandLink id="editRafDefinition" 
                               update=":suggestionPopup" 
                               actionListener="#{suggestionBrowse.editRafDefinition}" 
                               oncomplete="PF('suggestionPopup').show();"
                               disabled="#{suggestionBrowse.selectedItem eq null }" styleClass="#{suggestionBrowse.selectedItem ne null ? '' : 'disabled'}">
                    <i class="fa fa-edit"/>
                    <span>#{messages['general.button.Edit']}</span>
                </p:commandLink>
            </li>
        </ui:remove>
        <li>
            <p:commandLink action="#{rafDefinitionDialogController.openDialog()}" title="Raf Ekle">
                <i class="fa fa-plus-circle" />
                #{messages['raf.label.CreateRaf']}
                <p:ajax event="dialogReturn" update=":browseListForm:results, rafMenu" />
            </p:commandLink>
        </li>
        <li>
            <p:commandLink id="deleteRafDefinition" 
                           update=":browseListForm:results, :rafMenu" 
                           actionListener="#{rafDefinitionBrowse.deleteRaf}" 
                           disabled="#{rafDefinitionBrowse.selectedItem eq null }" styleClass="#{rafDefinitionBrowse.selectedItem ne null ? '' : 'disabled'}">
                <i class="fa fa-trash"/>
                <span>#{messages['general.button.Delete']}</span>
            </p:commandLink>
        </li>

        <li>
            <p:commandLink id="deleteRafObject" 
                           onclick="PF('deleteObjDlg').show();"
                           >
                <i class="fa fa-trash"/>
                <span>#{messages['raf.button.DeleteObject']}</span>
            </p:commandLink>
        </li>
    </ui:define>

    <ui:define name="detailBar">
        <ui:param name="rafDetailsMap" value="#{rafDefinitionBrowse.getDetailsForSelectedRaf()}" />
        <ui:fragment rendered="#{rafDetailsMap ne null and rafDetailsMap.size() > 0}">
            <t:outputText label="#{messages['raf.definition.label.totalFolderCount']}" value="#{rafDetailsMap.get('totalFolderCount')}"
                          columnClass="col-xs-12"/>
            <t:outputText label="#{messages['raf.definition.label.totalFileCount']}" value="#{rafDetailsMap.get('totalFileCount')}"
                          columnClass="col-xs-12"/>
            <t:outputText label="#{messages['raf.definition.label.totalFileSize']}" value="#{rafDetailsMap.get('totalFileSize')}"
                          columnClass="col-xs-12"/>
            <t:outputText label="#{messages['raf.definition.label.totalMemberCount']}" value="#{rafDetailsMap.get('totalMember')}"
                          columnClass="col-xs-12"/>
        </ui:fragment>
    </ui:define>

</ui:composition>
