<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="#{themeManager.layoutTemplate}">

    <ui:param name="dontShowContentHeader" value="true" />
    <ui:param name="showContextMenu" value="false" />
    <ui:param name="pageTitle" value="#{rafController.rafDefinition.name}" />

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="id" value="#{rafController.rafCode}" />
            <f:viewParam name="o" value="#{rafController.objectId}" />
            <f:viewAction action="#{rafController.init()}"/>
        </f:metadata>
    </ui:define>


    <ui:define name="extraHead">
        <h:outputStylesheet library="raf" name="css/raf.css" />
        <h:outputScript library="raf" name="js/jquery.mousewheel.js" />
        <h:outputStylesheet library="icons" name="icons.css" />
    </ui:define>

    <ui:define name="customHeader">

        <div class="raf-header-container">
            <section class="raf-header">
                <div class="raf-header-logo">
                    <i class="fa fa-3x  fa-archive" style="line-height: 1 !important;"/>
                </div>
                <div class="raf-header-texts">
                    <div class="raf-header-text text-muted text-sm">
                        #{messages['raf.label.Raf']}
                    </div>
                    <div class="raf-header-info text-bold text-big">
                        #{messages[rafController.rafDefinition.name]}
                    </div>
                </div>
            </section>
            <section class="raf-header-tools">
                <ui:fragment rendered="#{rafController.showManagerTools()}">
                    <div class="raf-header-tool-pack">
                        <div class="raf-header-btns">
                            <h:link outcome="/settings/rafMembers.xhtml" title="#{messages['action.title.Members']}">
                                <i class="fa fa-users" />
                                <f:param name="id" value="#{rafContext.selectedRaf.code}" />
                            </h:link>

                            <h:link outcome="/settings/rafSettings.xhtml" title="#{messages['action.title.Settings']}">
                                <i class="fa fa-cogs" />
                                <f:param name="id" value="#{rafContext.selectedRaf.code}" />
                            </h:link>
                        </div>
                    </div>
                </ui:fragment>               
            </section>
        </div>

    </ui:define>

    <ui:define name="body">
        <ui:include src="/layout/messages.xhtml" />



        <p:outputPanel id="raf-view" class="raf" style="height: 100%;">
            <ui:fragment rendered="#{rafController.showSidePanel}">
                <div class="raf-box left" >
                    <div class="raf-box-header">
                        <i class="fa #{rafController.selectedSidePanel.icon}"/>
                        #{messages[rafController.selectedSidePanel.title]}

                        <div class="pull-right">

                            <ui:repeat value="#{rafController.sidePanels}" var="sidePanel">
                                <p:commandLink action="#{rafController.setSelectedSidePanel(sidePanel)}" title="#{messages[sidePanel.title]}" update="raf-view">
                                    <i class="fa #{sidePanel.icon}" /> 
                                </p:commandLink>
                            </ui:repeat>
                        </div>
                    </div>
                    <div class="raf-box-content" style="">
                        <ui:include src="#{rafController.selectedSidePanel.viewId}" />
                    </div>
                </div>
            </ui:fragment>
            <p:outputPanel id="raf-view-content" class="raf-box middle raf-view-content">
                <div class="raf-box-header">
                    <i class="fa #{rafController.selectedContentPanel.icon}"/>
                    #{rafController.selectedContentPanel.title}

                    <div class="pull-right">

                        <div style="margin-left: 10px;display: inline-block;">
                            <h:form id="actf" style="display: inline">
                                <ui:repeat value="#{rafController.actions}" var="actGrp">
                                    <div style="margin-left: 10px; display: inline-block;">
                                        <ui:repeat value="#{actGrp}" var="act">

                                            <ui:remove>Not: Confirmation yüzünden böyle garip bişi var!</ui:remove>
                                            <ui:fragment rendered="#{act.supportConfirmation}">
                                                <p:commandLink action="#{act.execute()}" process="@this" ajax="#{act.supportAjax}" update="raf-view-content" title="#{messages[act.title]}"
                                                               disabled="#{not act.isEnabled()}">
                                                    <i class="fa #{act.icon}" />
                                                    <p:confirm header="#{messages['confirmation.header.'.concat(act.name)]}" message="#{messages['confirmation.message.'.concat(act.name)]}" icon="fa fa-alert" />
                                                    <p:ajax event="dialogReturn" update="raf-view-content" />
                                                </p:commandLink>
                                            </ui:fragment>

                                            <ui:fragment rendered="#{not act.supportConfirmation}">
                                                <p:commandLink action="#{act.execute()}" process="@this"
                                                               ajax="#{act.supportAjax}" update="raf-view-content"
                                                               title="#{messages[act.title]}"
                                                               disabled="#{not act.isEnabled()}">
                                                    <i class="fa #{act.hasChangeableStateIcon() ? act.changeableStateIcon : act.icon}"/>
                                                    <p:ajax event="dialogReturn" update="raf-view-content"/>
                                                </p:commandLink>
                                            </ui:fragment>

                                        </ui:repeat>
                                    </div>
                                </ui:repeat>
                            </h:form>
                        </div>

                        <ui:remove>
                            <p:commandLink action="#{createFolderAction.execute()}" process="@this" update="raf-view-content" >
                                <i class="fa fa-plus" />
                                <p:ajax event="dialogReturn" update="raf-view" />
                            </p:commandLink>

                            <p:commandLink action="#{fileUploadAction.execute()}" process="@this" update="raf-view-content" >
                                <i class="fa fa-upload" />
                                <p:ajax event="dialogReturn" update="raf-view" />
                            </p:commandLink>
                        </ui:remove>


                        <ui:remove>
                            TODO: Sistemden otomatik olabilecek view tiplerini almak genişleme için olanak sağlar ama şimdilik kapatıyoruz. Diğer sunum tipleri ( icon, table, galery v.b. sonra eklenebilir. )
                            <ui:repeat value="#{rafController.contentPanels}" var="cw" >
                                <p:commandLink action="#{rafController.setSelectedContentPanel(cw)}" process="@this" update="raf-view-content" title="#{cw.actionTitle}">
                                    <i class="fa #{cw.actionIcon}" />
                                </p:commandLink>
                            </ui:repeat>
                        </ui:remove>

                        <ui:remove>
                            <!-- FIXME: süreç başlatma işi için sonradan tekrar bakacağız  -->
                            <div style="margin-left: 10px; display: inline-block;">
                                <div class="dropdown" style="display: inline-block;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="#{messages['action.startProcess']}">
                                        <i class="fa fa-random" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <ui:repeat value="#{processController.processes}" var="pd" >
                                            <li>
                                                <p:commandLink action="#{processController.startProcess(pd)}" process="@this">
                                                    <i class="fa fa-random" /> #{processController.getProcessName(pd)}
                                                    <p:ajax event="dialogReturn" update="raf-view" />
                                                </p:commandLink>
                                            </li>
                                        </ui:repeat>
                                    </ul>
                                </div>
                            </div>
                        </ui:remove>

                        <ui:fragment rendered="#{rafController.selectedContentPanel.supportMetadata} and #{documentViewPanel.additonalMetadatas.size() > 0}">
                            <div style="margin-left: 10px; display: inline-block;">
                                <div class="dropdown" style="display: inline-block;">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="#{messages['action.title.addMetadata']}">
                                        <i class="fa fa-cubes" />
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <ui:repeat value="#{documentViewPanel.additonalMetadatas}" var="md" >
                                            <li>
                                                <p:commandLink action="#{documentViewPanel.addMetadata(md)}" process="@this">
                                                    <i class="fa fa-cube" /> #{md}
                                                    <p:ajax event="dialogReturn" update="raf-view-content" />
                                                </p:commandLink>
                                            </li>
                                        </ui:repeat>
                                    </ul>
                                </div>

                            </div>
                        </ui:fragment>

                        <div style="margin-left: 10px; display: inline-block;">
                            <div class="dropdown" style="display: inline-block;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-cog"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li>
                                        <p:commandLink action="#{rafController.toggleSidePanel()}" process="@this" update="raf-view">
                                            <i class="fa #{rafController.showSidePanel ? 'fa-check-square' : 'fa-square-o' }" /> #{messages['view.action.ShowSidePanel']}
                                        </p:commandLink>
                                    </li>
                                    <li>
                                        <p:commandLink action="#{rafController.toggleShowFolders()}" process="@this" update="raf-view-content">
                                            <i class="fa #{rafController.showFolders ? 'fa-check-square' : 'fa-square-o' }" /> #{messages['view.action.ShowFolders']}
                                        </p:commandLink>
                                    </li>
                                    <li>
                                        <p:commandLink action="#{folderBreadcrumbController.toggleShow()}" process="@this" update="raf-view-content">
                                            <i class="fa #{folderBreadcrumbController.showBreadcrumb ? 'fa-check-square' : 'fa-square-o' }" /> #{messages['view.action.ShowBreadcrumb']}
                                        </p:commandLink>
                                    </li>

                                    <ui:fragment rendered="#{rafController.selectedContentPanel.supportCollection}">
                                        <li role="separator" class="divider"></li>

                                        <ui:repeat value="#{rafController.collectionContentPanels}" var="cw" >
                                            <li class="#{rafController.getSelectedContentPanel() eq cw ? 'active' : ''}">
                                                <p:commandLink action="#{rafController.setSelectedContentPanel(cw)}" process="@this" update="raf-view-content" >
                                                    <i class="fa #{cw.actionIcon}" /> #{messages[cw.actionTitle]}
                                                </p:commandLink>
                                            </li>
                                        </ui:repeat>

                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Sıralama</li>

                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('NAME')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'NAME' ? 'fa-circle' : 'fa-circle-o' }"/> #{messages['sortBy.Name']}
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('DATE_ASC')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'DATE_ASC' ? 'fa-circle' : 'fa-circle-o'}"/> #{messages['sortBy.CreateDate']} (#{messages['general.sort.oldToNew']})
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('DATE_DESC')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'DATE_DESC' ? 'fa-circle' : 'fa-circle-o'}"/> #{messages['sortBy.CreateDate']} (#{messages['general.sort.newToOld']})
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('MODIFY_DATE_ASC')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'MODIFY_DATE_ASC' ? 'fa-circle' : 'fa-circle-o'}"/> #{messages['sortBy.ModifyDate']} (#{messages['general.sort.oldToNew']})
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('MODIFY_DATE_DESC')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'MODIFY_DATE_DESC' ? 'fa-circle' : 'fa-circle-o'}"/> #{messages['sortBy.ModifyDate']} (#{messages['general.sort.newToOld']})
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('MIMETYPE')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'MIMETYPE' ? 'fa-circle' : 'fa-circle-o' }"/> #{messages['sortBy.MimeType']}
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('CATEGORY')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'CATEGORY' ? 'fa-circle' : 'fa-circle-o' }"/> #{messages['sortBy.Category']}
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setSortBy('SIZE')}" process="@this" update="raf-view-content">
                                                <i class="fa  #{rafController.getSortBy() eq 'SIZE' ? 'fa-circle' : 'fa-circle-o' }"/> #{messages['sortBy.Size']}
                                            </p:commandLink>
                                        </li>
                                        <ui:remove>
                                            TODO: Şimdilik TAG sıralamayı kaldırdım. Birden fazla TAG için sıralama yöntemleri belli değil.
                                            <li>
                                                <p:commandLink action="#{rafController.setSortBy('TAG')}" process="@this" update="raf-view-content">

                                                    <i class="fa  #{rafController.getSortBy() eq 'TAG' ? 'fa-circle' : 'fa-circle-o' }"/> #{messages['sortBy.Tag']}
                                                </p:commandLink>
                                            </li>
                                        </ui:remove>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <p:commandLink action="#{rafController.selectedContentPanel.setShowDetails( not rafController.selectedContentPanel.getShowDetails())}" process="@this" update="raf-view-content">
                                                <i class="fa #{rafController.selectedContentPanel.getShowDetails() ? 'fa-check-square' : 'fa-square-o' }" /> #{messages['view.action.ShowDetails']}
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.setDescSort( not rafController.getDescSort())}" process="@this" update="raf-view-content">
                                                <i class="fa #{rafController.getDescSort() ? 'fa-check-square' : 'fa-square-o' }" /> #{messages['view.action.DescOrder']}
                                            </p:commandLink>
                                        </li>
                                        <li>
                                            <p:commandLink action="#{rafController.selectedContentPanel.setFoldersFirst( not rafController.selectedContentPanel.getFoldersFirst())}" process="@this" update="raf-view-content">
                                                <i class="fa #{rafController.selectedContentPanel.getFoldersFirst() ? 'fa-check-square' : 'fa-square-o' }" /> #{messages['view.action.FoldersFirst']}
                                            </p:commandLink>
                                        </li>                                       
                                    </ui:fragment>
                                    <ui:remove>
                                        <li role="separator" class="divider"></li>
                                        <li>
                                            <a href=""><i class="fa fa-list"/> AAAA </a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-list-ul"/> BBB </a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-th-list"/> CCC </a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-th"/> DDD </a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-th-large"/> EEE </a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa fa-align-justify"/> FFF </a>
                                        </li>
                                    </ui:remove>
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="raf-box-content" >
                    <ui:include src="#{rafController.selectedContentPanel.viewId}" >
                        <ui:param name="viewBean" value="#{rafController.selectedContentPanel}" />
                        <ui:param name="selectionBean" value="#{rafSelectionController}" />
                        <ui:param name="controllerBean" value="#{rafController}" />
                    </ui:include>
                </div>
                <ui:fragment rendered="#{rafController.selectedContentPanel.supportPaging}">
                    <div class="raf-box-footer" style="text-align: center">
                        <ul class="pagination pagination-sm" style="margin: 0px; display: inline;">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                        </ul>
                    </div>
                </ui:fragment>

                <script type="text/javascript">
                    function setSizes() {
                        var clientHeight = jQuery(window).height() - 150;
                        jQuery('#contentSection').css('height', clientHeight);

                        jQuery('.raf-box-content').css('max-height', clientHeight - 29);
                        jQuery('.raf-container').css('max-height', clientHeight - 60);
                        //jQuery('.raf-container-item-group').css('max-height', clientHeight - 60);
                        jQuery('.raf-container-item-group').css('min-height', clientHeight - 78);
                        jQuery('.raf-container-item-group-item').css('max-height', clientHeight - 80);
                        jQuery('.content-view-port').css('max-height', clientHeight - 60);
                        jQuery('.content-view-port').css('min-height', clientHeight - 60);


                        jQuery('.content-view-port').on('mousewheel', function (event) {
                            this.scrollLeft -= (event.deltaY * 30);
                            event.preventDefault();
                        });


                        jQuery('.raf-container-item-group-item').each(function () {
                            var minw = 220;
                            var lastChild = jQuery(this).children().last();
                            jQuery(this).children().each(function () {
                                var o = jQuery(this).outerWidth(true);
                                if (o > minw) {
                                    minw = o;
                                }
                            });
                            var newWidth = lastChild.position().left - jQuery(this).position().left + minw;
                            jQuery(this).width(newWidth);
                        });

                    }

                    setSizes();

                    var resizeTimer;
                    jQuery(window).resize(function () {
                        clearTimeout(resizeTimer);
                        resizeTimer = setTimeout(setSizes, 100);
                    });

                </script>
            </p:outputPanel>
        </p:outputPanel>



    </ui:define>


</ui:composition>